!!!
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
        if(typeof(title)!=='undefined')
            title= title
        
        // Le HTML5 shim, for IE6-8 support of HTML elements
        // [if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        // [endif]

        // Le Styles
        script(type="text/javascript",src="/js/main.js") //- main entry point
        link(rel="stylesheet", href="/style/main.css", media="all" )
    body
        != body
