.container
    .row-fluid
            h1 Event Idea Bank - Pittsburgh
            h3 What to do when your board
            br
            ul
                li Cafe
                    ul
                        li To do
                            ul
                                li Just bring a chess board and find an opponent
                                li Play a card game
                                li Start a conversation with a stranger
                        li Cafes
                            ul
                                li 
                                    strike Kiva Han
                                    |  RIP
                                li Big Dog Coffee
                                li Buena Vista
                                li Espresso Amano
                                li Tazza Doro
                                li Lili Cafe
                                li Common Place Cafe
                                li Tea Cafe
                                li Coffee Tree Cafe
                                li Crepes Parisiennes
                li Art
                    ul
                        li First Fridays (Art)
                        li Find graffiti
                        li Museums (and stuff)
                            ul
                                li Andy Warhol
                                li Mattress Factory
                                li Bike Musuem
                                li Fipps Concervactory
                                li Science Center
                                li Frick Musuem
                li Music
                    ul
                        li Title Town
                        li Jerry's Records
                li Sports
                    ul
                        li Kayaking, under the 6th street bridge
                        li Bike riding
                            ul
                                li Along the river trails
                                li Bike ride to Red Fish Blue Fish
                                li Bike ride Sat/Sun morning for breakfast/lunch to:
                                    ul
                                        li Cafe Raymond, Deluca's, or Pamela's in the Strip Distrct
                                        li Zenith Cafe on the South Side (vegan)
                        li Swimming
                            ul
                                li Polish Hill swimming pool
                        li Go to a state park
                            ul
                                li Morain State Park
                                li Loral Caverns
                                li Ohiopyle
                                li Michanol's Mill
                li Movies
                    ul
                        li Cinema in the park (every wednesday at dusk)
                        li $5 dollar Monday movies on the south side
                li Half Price Food
                    ul
                        li Full & Fuddle
                        li India Garden
                li Use the internet
                    ul
                        li pgharts.org
                        li switchboardpgh.com (music)
                        li use google maps to find parks you never knew existed
                        li Pittsburgh City Paper
                        li See what conventions are in town
                li Lesser know bars
                    ul
                        li Gooski's
                        li The Rock Room
                li Ride the incline
            br
            //form.add-event(method="POST")
                input.input-medium(type="text",name="event")
                button.btn(type="submit") Submit